@import "tailwindcss";

html, body, #root{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #242424;
  overflow: hidden; 
}
h1, p, h2{
  color: white;
}

.card {
  background-color: #333;

}